.MovieRatingsItem {
  padding: 15px;
  max-width: 300px;
  text-align: left;
  background-color: #eee;
  margin: 10px;
  padding-bottom: 0;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
