.outerContainer {
  padding: 4px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;

  background-color: rgba(255, 255, 255, 0.9);
  flex-direction: column;
}

.titleContent {
  margin-bottom: 4px;
}

.titleUnderline {
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 1px;
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  align-items: center;
}

.thumbnailContainer {
  justify-content: center;
  align-items: center;
  max-height: 160px;
}

.thumbnail {
  max-height: 160px;
}
