.outer {
  margin: 40px;
}

.container {
  display: flex;
  width: 100%;
}

.logo {
  font-family: 'Monoton', cursive;
  font-size: 42px;
}

.links {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.link {
  margin: 8px;
}

@media (max-width: 700px) {
  .links {
    display: none;
  }
}
