.PortfolioItem {
  display: flex;
  text-align: left;
  align-items: center;

  padding: 8px;

  min-height: 200px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: #CCC;
}

.portfolio-item-description {
  display: flex;
  vertical-align: middle;

  flex: 1;
  padding: 0 8px;
}
.portfolio-item-image {
  display: flex;
  vertical-align: middle;

  min-width: 35%;
  padding: 0 8px;
}
