.cardContainer{
    margin: 8px;
}

.card {
    background-color: rgb(245, 245, 245);
    border-color: rgb(235 235 235);
    border-style: solid;
    border-width: 1px;
    box-shadow: 8px 12px 12px 0px rgba(0,0,0,0.2)
}
