/* general body styling */
body {
  background-color: #0a192f;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Amiko', sans-serif;
}
body,
.root,
.root-container {
  width: 100%;
  height: 100%;
}

/* general page styles */
.page-container {
  width: 75%;
  margin: auto;
}

/* font styles */
h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 700;

  margin: 0;
}

.light,
h1 {
  color: #ccd6f6;
}

.regular,
h2,
p {
  color: #8892b0;
}

.highlighted {
  color: #64ffda;
}

a {
  text-decoration: none;
  color: inherit;
}
