/* general body styling */
body {
  background             : #0f2027;
  background             : -webkit-linear-gradient(to right, #243b55, #203a43, #0f2027);
  background             : linear-gradient(to right, #243b55, #203a43, #0f2027);

  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family            : 'Amiko', sans-serif;
}

#root,
#root-container,
body {
  width  : 100%;
  height : 100%;
  margin : 0;
  padding: 0;
}

/* general page styles */
.page-container {
  width : 80%;
  margin: auto;
}

@media (max-width: 800px) {
  .page-container {
    width: 95%;
  }
}

/* font styles */
h1 {
  font-family: 'Poppins', sans-serif;
  font-size  : 48px;
  font-weight: 700;

  margin     : 0;
}

.light {
  color: #eef1fb;
}

.medium,
p {
  color: #d4d5d6;
}

.dark {
  color: #4e4e4e;
}

.highlighted {
  color: #64ffda;
}

a {
  text-decoration: none;
  color          : inherit;
}

#root-container {
  display       : flex;
  flex-direction: column;
}

#root-page-container {
  display       : flex;
  flex-direction: row;
  flex-grow     : 1;
}

#root-page-content {
  overflow      : auto;
  display       : flex;
  flex-grow     : 1;
  flex-direction: column;
}

#root-page-social {
  min-width: 75px;
}

#root-page-footer {
  height: 100px;
}
