/* general body styling */
body {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #243b55, #203a43, #0f2027);
  background: linear-gradient(to right, #243b55, #203a43, #0f2027);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Amiko', sans-serif;
}

body,
#root,
#root-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* general page styles */
.page-container {
  width: 80%;
  margin: auto;
}

@media (max-width: 800px) {
  .page-container {
    width: 95%;
  }
}

/* font styles */
h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 700;

  margin: 0;
}

.light,
h1 {
  color: #eef1fb;
}

h2 {
  color: #cbcdd4;
}

.regular,
p {
  color: #999eab;
}

.highlighted {
  color: #64ffda;
}

a {
  text-decoration: none;
  color: inherit;
}

#root-container {
  display: flex;
  flex-direction: column;
}

#root-page-container {
  display: flex;
  flex-direction: row;
}
#root-page-content {
  overflow: auto;
}
#root-page-social {
  min-width: 75px;
}

#root-page-footer {
  height: 100px;
}
